# Dependencias
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Producción
/build
/dist

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración de entorno
.env
.env.test
.env.production
.env.local

# Cachés
.cache
.parcel-cache
.next
.nuxt
out
/.vite

# IDEs y editores
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Otros
/.eslintcache
/.stylelintcache
